body {
    background-image: url(../images/greenhillZone_art.png);
    background-repeat: no-repeat;
    background-size: cover;  
    width:100%;
    overflow-x: hidden; 
}

.header {
    border: 2px solid black;
    background-image: url(../images/sonic_logo.png);
    background-size: 475px 200px;
    height: 200px;
    width: 450px;  
}

h3 {
    font-family: 'Bungee Inline', cursive;
    color:black;
    margin-left:130px;
    font-size:20px;  
}

.container {
    font-size:20px;
    font-family: 'Bungee Inline', cursive;
    margin-top: -250px;
    opacity:none;
    z-index:10;
    position:relative;
    text-indent: 30px;  
}

.wrapper {
    background-color:#ebebeb;
    opacity: 0.7;
    height:200px;
    width:450px;
    margin-top:-200px;
    z-index:-1;
}

.underScoreContainer {
    padding: 30px;
    opacity:0.7;
    margin: 90px 150px 20px;
    background-color: #ebebeb;  
}

#underscore {
    font-family: 'Press Start 2P', cursive;
    font-size:30px;
    text-align:center;
}

.answerImage {
    display:inline-block;
    width: 525px;
    height:425px;
    margin-left: 37%;
    margin-right: 30%;
    visibility: hidden;
    z-index: 20;
    margin-top: -430px;
    clear:both;
}

#controls {
    float:right;
    opacity: 0.7;
   margin-top: -200px;
    
}

#wins {
    text-indent: 30px;
}

#mad {
    margin-top: -175px;
    margin-left: 37%;
    margin-right: 30%;
    
    
    
}

@media only screen and (max-width: 414px) {

    .header {
        
        background-image: url(../images/sonic_logo.png);
        margin-left:-40px;
        margin-top: -10px;
        height: 200px;
        width: 450px; 
        transform:scale(0.8);
        
    }

    .underScoreContainer {
        padding-left:1000px;
        opacity:0.7;
        width:100px;
        background-color: #ebebeb;  
    }

    #underscore {
        font-family: 'Press Start 2P', cursive;
        font-size:14px;
        display: block;
        
    }

    #controls {
        clear:both;
        opacity: 0.7;
       margin-top:500px;
        
    }
}



    
