body {
    background-image: url(../images/greenhillZone_art.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
}

.jumbotron {
    background:url(../images/sonic_run.jpg);
    background-repeat: repeat-y;
    background-size:cover;
    background-position: center;
}

h1{
    color:rgb(33, 17, 92);
    opacity:1;
}

audio {
    opacity: 1;
}

#underscore {
    font-family: 'Press Start 2P', cursive;
    font-size:1em;
    color:white;
    background: rgba(0, 0, 0, 0.7);
    padding:25px;
}

.answerImage{
    width: fit-content;
    visibility: hidden;
}

#winImage {
    width:100%;
    max-width:315px;
}

.letter {
    background: rgba(3, 3, 3, 0.75);
    border:none;
    width: 50px;
    height: 50px;
    border-radius:5px;
    padding: 2px;
    margin: 2px;
    cursor:pointer;
}

.letter-button-color {
    color:white;
}

#buttons {
    text-align:center;
    margin:0 auto;
    touch-action: manipulation;
}

.stats {
    background: rgba(3, 3, 3, 0.75);
    color:white;
    justify-content: space-around;
}

.darken {
    background: #000;
}
.modal-footer, .modal-body {
    margin: 0 auto;
}