header {
    border: 2px solid black;
    background-image: url(../images/sonic_logo.png);
    background-size: 475px 200px;
    height: 200px;
    width: 450px;
    
    
}

body {
    background-image: url(../images/greenhillZone_art.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h3 {
    font-family: 'Bungee Inline', cursive;
    color:black;
    margin-left:130px;
    font-size:20px;
    
    
}

.container {
    font-size:20px;
    font-family: 'Bungee Inline', cursive;
    margin-top: -330px;
    opacity:none;
    z-index:10;
    position:relative;
    text-indent: 30px;
    
}

.wrapper {
    background-color:#ebebeb;
    opacity: 0.7;
    height:200px;
    width:450px;
    margin-top:-200px;
    z-index:-1;
}





.underScoreContainer {
    padding: 30px;
    opacity:0.7;
    margin: 30px 150px 0px;
    background-color: #ebebeb;

    
}


#underscore {
font-family: 'Press Start 2P', cursive;
font-size:30px;

text-align:center;





}

.answerImage {
    display:block;
    width: 500px;
    height:325px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    z-index: 20;
    margin-top: -200px;
  
}

.answerImage2 {
    display:block;
    width: 500px;
    height:325px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    z-index: 22;
    margin-top: -200px;
  
}

.answerImage3 {
    display:block;
    width: 500px;
    height:325px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    z-index: 22;
    margin-top: -200px;
  
}

#controls {
    float:right;
    margin-top:-400px;
    opacity: 0.7;
}

#wins {
    text-indent: 30px;
}



    
